# Ambiente virtual
.venv/
venv/
env/

# Dataset — nunca versionar imagens médicas
skin_lesion/data/raw
skin_lesion/data/processed
skin_lesion/results/preprocessed_imgs/

# Referencial bibliográfico
Referencial_Teorico/

# Outputs gerados automaticamente
skin_lesion/results/figures/
skin_lesion/results/metrics/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
