# Ambiente virtual
.venv/
venv/
env/

# Dataset — nunca versionar imagens médicas
data/raw/
data/processed/
results/preprocessed_imgs/
Datasets/

# Referencial bibliográfico
Referencial_Teorico/

# Outputs gerados automaticamente
results/figures/
results/metrics/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
